{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% trans_default_domain 'worker' %}

{% block content %}
    <h2>{{ (worker.id ? 'title.form' : 'title.new')|trans }}</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button() }}
        {{ m.link_button(path('worker_list'), 'arrow-left', 'btn-info', 'button.back'|trans) }}
        {{ m.submit_button('save', 'check', 'btn-success', 'button.submit'|trans) }}
        {% if next %}{{ m.submit_button('next', 'forward', 'btn-success', 'button.next'|trans) }}{% endif %}
        {{ m.end_button() }}
    {{ form_end(form) }}

    {% if worker.id %}
        <h2>{{ 'title.codes'|trans }}</h2>
        <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>{{ 'header.code'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for access_code in access_codes %}
                <tr>
                    <td>{{ access_code.code }}</td>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">{{ 'form.no_codes'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
