{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% trans_default_domain 'worker' %}

{% block content %}
    <h2>{{ (worker.id ? 'title.form' : 'title.new')|trans }}</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button() }}
            {{ m.link_button(path('worker_list'), 'arrow-left', 'btn-info', 'button.back'|trans) }}
            {{ m.submit_button('save', 'check', 'btn-success', 'button.submit'|trans) }}
            {% if worker.id %}{{ m.link_button(path('worker_delete', {'id': worker.id}), 'trash', 'btn-danger', 'button.delete'|trans) }}{% endif %}
            {% if next %}{{ m.link_button(path('worker_form', {'id': next.id}), 'forward', 'btn-secondary', 'button.next'|trans) }}{% endif %}
        {{ m.end_button() }}
    {{ form_end(form) }}

    {% if worker.id %}
        <h2>{{ 'title.codes'|trans }}</h2>

        <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>{{ 'header.code'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for access_code in access_codes %}
                <tr>
                    <td>
                        {{ access_code.code }}
                        <a href="{{ path('worker_access_code_form', {'id': access_code.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                        <a href="{{ path('worker_access_code_delete', {'id': access_code.id}) }}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ 'form.no_codes'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ form_start(form_code) }}
        {{ form_widget(form_code) }}
        {{ m.start_button() }}
        {{ m.submit_button('add', 'plus', 'btn-success', 'button.submit_code'|trans) }}
        {{ m.end_button() }}
        {{ form_end(form_code) }}
    {% endif %}
{% endblock %}
