{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% trans_default_domain 'worker' %}

{% block content %}
    <h2>{{ 'title'|trans }}</h2>

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>{{ 'header.last_name'|trans }}</th>
                    <th>{{ 'header.first_name'|trans }}</th>
                    <th>{{ 'header.last_in'|trans }}</th>
                    <th>{{ 'header.last_out'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for datum in data %}
                    {% set url = path('worker_form', {'id': datum[0].id}) %}
                    <tr>
                        <td><a href="{{ url }}">{{ datum[0].lastName }}</a></td>
                        <td><a href="{{ url }}">{{ datum[0].firstName }}</a></td>
                        <td>{% if datum[1] %}{{ datum[1].inTimestamp|date('format.datetime'|trans({}, 'general')) }}{% endif %}</td>
                        <td>{% if datum[1] and datum[1].outTimestamp%}{{ datum[1].outTimestamp|date('format.datetime'|trans({}, 'general')) }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ m.link_button(path('worker_new'), 'plus', 'btn-success', 'button.new'|trans) }}
    {{ m.link_button(path('worker_teacher_import'), 'upload', 'btn-primary', 'button.teacher_import'|trans) }}
{% endblock %}
