{% extends 'layout.html.twig' %}
{% import 'macros.html.twig' as m %}
{% trans_default_domain 'config' %}

{% block content %}
    <h2>{{ 'title'|trans }}</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ m.start_button() }}
            {{ m.submit_button('save', 'check', 'btn-success', 'button.submit'|trans) }}
        {{ m.end_button() }}
    {{ form_end(form) }}
{% endblock %}
